.projects{
    background-color: hsl(219,48%,8%);
    min-height: 100vh;
    padding: 15vmax;
}
.projects > h3{
    text-align: center;
    color: rgb(225, 225, 225);
    position: absolute;
    background-color: hsl(250, 100%, 75%);
    padding: 2vmax 4vmax;
    display:flex;
    border-radius: 100px;
    align-items: center;
    left: 50%;
    transform: translate(-50% ,-100vh);
    animation: projectHeadingAnimation 1s ease-in-out forwards;
}
.projects >h3 > svg{
    margin: 1vmax;
}
.projectsWrapper{
    border-top: 100px solid white;
    border-radius: 300px 300px 0 0;
    min-height: inherit;
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5vmax;
    padding-bottom: 10vmax;
    overflow-x: hidden;
}
.projectCard
{
    width:80%;
    text-decoration: none;
    color:rgba(0, 0, 0, 0.712);
    margin:2vmax;
    border-radius: 10px;
    display: flex;
    transform: translateX(-100vw);
    animation: projectCardAnimation 1s ease-in-out forwards 0.5s;

}
@keyframes projectCardAnimation{
    to{
        transform: translateX(0);
    }
}